.about {
  padding-bottom: 30px;
}

.about__wrapper {
  @include min-width ($desktop-width) {
    padding-left: 175px;
  }
}

.about__list {
  @include listclr;

  @include min-width($tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.about__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @include min-width($tablet-width) {
    width: 50%;
  }

  &:before {
    content: '';
    display: block;
    margin-bottom: 20px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &--icon-flower {
    &:before {
      width: 33px;
      height: 38px;
      background-image: url('../img/icon-feature-flower.svg');
    }
  }

  &--icon-money {
    &:before {
      width: 47px;
      height: 27px;
      background-image: url('../img/icon-feature-money.svg');
    }
  }

  &--icon-heart {
    &:before {
      width: 34px;
      height: 27px;
      background-image: url('../img/icon-feature-heart.svg');

    }
  }

  &--icon-ball {
    &:before {
      width: 35px;
      height: 34px;
      background-image: url('../img/icon-feature-ball.svg');
    }
  }

  &--icon-rocket {
    &:before {
      width: 55px;
      height: 23px;
      background-image: url('../img/icon-feature-rocket.svg');
    }
  }

  &--icon-gift {
    &:before {
      width: 33px;
      height: 32px;
      background-image: url('../img/icon-feature-gift.svg');
    }
  }
}

.about__descr {
  color: #000000;
  font-family: $default-font;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;

  @include min-width($tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}

.about__descr br {
  display: block;
}
