.form {
  margin-bottom: 55px;
}

.form__group {
  margin: 0;
  padding: 50px 0;
  border: none;

  &--grey {
    background: #f1f1f1;

    @include max-width ($tablet-width) {
      background: none;
    }
  }

  &--phone {
    padding-bottom: 0;
  }

  &--email {
    padding-top: 0;
  }
}

.form__group__inner {
  @include container;

  @include min-width ($tablet-width) {
    display: flex;
  }
}

.form__body {
  flex-grow: 1;

  &--color {
    @include min-width ($tablet-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.form__input-wrap {
  flex-grow: 1;

  &--radio {
    margin-bottom: 25px;
  }

  &--check {
    margin-bottom: 33px;

    @include min-width ($tablet-width) {
      width: 50%;
    }

    @include min-width ($desktop-width) {
      width: 33%;
    }
  }

  &--text {
    @include min-width ($tablet-width) {
      display: flex;
      align-items: center;
      max-width: 700px;
    }
  }
}

.form__action {
  max-width: 700px;
  width: 100%;

  @include min-width ($tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  @include min-width ($desktop-width) {
    margin-left: 170px;
  }
}

.form__group-title {
  display: flex;
  position: relative;
  margin-bottom: 30px;
  color: #63d1bb;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;

  span {
    @include max-width ($tablet-width) {
      position: relative;
      display: inline-block;
      padding: 10px 25px 10px 0;
      background-color: #ffffff;
      z-index: 1;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    display: inline-block;
    background: #63d1bb;
    height: 2px;
  }

  @include min-width ($tablet-width) {
    flex-basis: 170px;
    flex-shrink: 0;
    padding-top: 20px;

    &::after {
      display: none;
    }
  }
}

.form__label {
  display: inline-block;
  position: relative;
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  cursor: pointer;

  &--text {
    @include min-width ($tablet-width) {
      margin-right: 25px;
    }
  }
}

.form__input {
  background: none;
  border: none;
  border-bottom: 2px solid #000000;
  outline: none;
  font-size: 17px;

  @include tr;

  @include min-width ($tablet-width) {
    font-size: 19px;
  }

  &--radio,
  &--check {
    display: none;
  }

  &--text {
    display: block;
    width: 100%;
    padding: 20px 0;
    margin-bottom: 25px;

    &:hover,
    &:active {
      border-color: #62d1ba;
    }
  }
}

.form__input--radio + .form__label {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 62px;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
  }

  &::before {
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid #444444;
  }

  &::after {
    top: 12px;
    left: 12px;
    width: 16px;
    height: 16px;
    background-color: transparent;
  }

  &:hover {
    &::before {
      border-color: #69d3bd;
    }
  }

  &:active {
    &::before {
      border-color: #c7c7c7;
    }
  }
}

.form__input--radio:checked + .form__label {
  &::after {
    background-color: #62d1ba;
  }
}

.form__input--check + .form__label {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 62px;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;

    @include tr;
  }

  &::before {
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid #444444;
  }

  &::after {
    top: 3px;
    left: 13px;
    width: 15px;
    height: 22px;
    transform: rotate(45deg);
  }

  &:hover {
    &::before {
      border-color: #69d3bd;
    }
  }

  &:active {
    &::before {
      border-color: #c7c7c7;
    }
  }
}

.form__input--check:checked + .form__label {
  &::after {
    border-right: 2px solid #231f20;
    border-bottom: 2px solid #231f20;
  }
}

.form__textarea {
  resize: none;
  width: 100%;
  max-width: 700px;
  padding: 17px;
  border: 2px solid #000000;
  outline: none;

  @include tr;

  @include min-width ($tablet-width) {
    font-size: 19px;
  }

  &:hover,
  &:active {
    border-color: #62d1ba;
  }
}

.form__warning {
  display: block;
  margin-bottom: 30px;
  color: #444444;
  font-family: $default-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  @include min-width ($tablet-width) {
    margin-bottom: 0;
  }
}

.form__btn {
  width: 100%;
  max-width: 260px;
}
