.main-slide {
  position: relative;
  overflow: hidden;
  padding-top: 71px;
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -15px;
  background-size: 570px;

  @include min-width ($tablet-width) {
    padding-top: 0;
    background-size: cover;
    background-position: center;

    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      bottom: -12px;
      width: 100%;
      height: 26px;
      background: url("../img/bg-zigzag-fill.svg");
      background-size: auto 23px;
      background-repeat: repeat-x;
      background-position-x: 36px;
    }
  }

  @include min-width ($desktop-width) {
    &::before {
      height: 31px;
      background-size: auto 37px;
      background-position-x: 13px;
    }
  }

  @include min-res() {
    background-image: url("../img/hero-mobile@2x.jpg");
  }

  @include min-width ($tablet-width) {
    background-image: url("../img/hero-tablet@1x.jpg");

    @include min-res() {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }

  @include min-width ($desktop-width) {
    background-image: url("../img/hero-desktop@1x.jpg");

    @include min-res() {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }
}

.main-slide__wrapper {
  @include container;
  margin-bottom: 120px;

  @include min-width ($tablet-width) {
    margin-bottom: 374px;
    padding-top: 153px;
  }

  @include min-width ($desktop-width) {
    margin-bottom: 359px;
  }
}

.main-slide__title {
  margin: 0;
  color: #010000;
  font-family: $default-font;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;

  @include min-width ($tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @include min-width ($desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.main-slide__title br {
  @include min-width ($tablet-width) {
    display: block;
  }
}
