.main-slide {
  padding-top: 93px;
  padding-bottom: 120px;
}

.main-slide__title {
  color: #010000;
  font-family: $default-font;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}
