.page-main {
  margin-bottom: 58px;

  @include min-width ($tablet-width) {
    margin-bottom: 63px;
  }

  @include min-width ($desktop-width) {
    margin-bottom: 105px;
  }
}

.page-main__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 75px 0;
  background: #f1f1f1;
  text-align: center;

  @include min-width ($tablet-width) {
    margin-bottom: 67px;
  }

  @include min-width ($desktop-width) {
    margin-bottom: 111px;
  }
}

.page-main__descr {
  margin: 0;
  margin-bottom: 30px;
  color: #444444;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;

  @include min-width ($tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.page-main__container {
  @include container;
}
