.page-footer {
  padding: 25px 0;
  background: #f1f1f1;

  @include min-width ($tablet-width) {
    padding: 51px 0 50px;
  }
}

.page-footer__wrapper {
  @include container;

  @include min-width ($tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo {
  display: none;

  @include min-width ($tablet-width) {
    display: block;
  }
}

.page-footer__logo-img {
  @include min-width ($tablet-width) {
    width: 106px;
    margin-left: 6px;
  }

  @include min-width ($tablet-width) {
    width: 103px;
    margin-left: 2px;
  }
}


.page-footer__social {
  padding-bottom: 25px;
  margin-bottom: 23px;
  border-bottom: 1px solid #e5e5e5;

  @include min-width ($tablet-width) {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
    margin-left: 78px;
  }
}
