.page-header {
  background: #ffffff;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;

  @include min-width ($tablet-width) {
    border-bottom: 1px solid #e7e7e7;
  }
}

.page-header__wrapper {
  position: relative;
  padding: 22px 0;

  @include min-width ($tablet-width) {
    @include container;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }

  @include min-width ($desktop-width) {
    padding: 0;
  }
}

.page-header__logo {
  display: block;
  width: 86px;
  height: 35px;
  margin: auto;

  @include min-width ($tablet-width) {
    margin-left: 0;
  }

  @include min-width ($desktop-width) {
    margin-left: auto;
  }
}

.page-header__button {
  @include btnclr;
  display: block;
  padding: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 27px;

  @include min-width ($tablet-width) {
    display: none;
  }

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: #000000;
    box-shadow: 0 6px #000000, 0 -6px #000000;
  }

  &--closed {
    &::before,
    &::after {
      content: "";
      display: block;
      width: 30px;
      top: 50%;
      left: 0;
      position: absolute;
      height: 2px;
      background: #000000;
      box-shadow: none;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}


.page-header__feature {
  display: none;

  @include min-width ($tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
    position: absolute;
    width: 100%;
    top: 100%;
  }
}

.page-header__features-list {
  @include listclr;
  display: none;

  @include min-width ($desktop-width) {
    display: block;
  }
}

.page-header__features-list a {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__feature-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  padding: 25px 0;
}

.page-header__free {
  margin: 0;
  padding: 18px 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;

  @include min-width ($tablet-width) {
    text-align: right;
    margin-left: auto;
  }
}
