.product-promo {
  border: 1px solid #ececec;
}

.product-promo__form {
  @include min-width ($tablet-width) {
    display: flex;
    flex-direction: column;
  }
  @include min-width ($desktop-width) {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.product-promo__name {
  padding-top: 30px;
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  &--icon {
    padding-left: 34px + 32px + 25px;
  }
}

.product-promo__img {
  @include min-width ($tablet-width) {
    order: -1;
  }
  @include min-width ($desktop-width) {
    width: 50%;
    order: -1;
  }
}

.product-promo__main-pic {
  max-width: 100%;
}

.product-promo__info {
  padding: 34px;
}

.product-promo__descr {
  margin: 0;
  margin-bottom: 30px;
  color: #444444;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.product-promo__btn {
  width: 100%;
}
