.product {
  position: relative;
}

.product__body {
  @include min-width ($tablet-width) {
    display: flex;
  }

  @include min-width ($desktop-width) {
    flex-direction: column;
  }
}

.product__img,
.product__info {
  @include min-width ($tablet-width) {
    width: 50%;
  }

  @include min-width ($tablet-width) {
    width: 100%;
  }
}

.product:hover .product__info {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.product:active .product__info {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.product__info {
  padding: 30px;
  border: 1px solid #ececec;
  display: flex;
  flex-direction: column;

  @include tr;
}

.product__name {
  margin-top: 0;
  margin-bottom: 17px;
  font-family: $default-font;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__param {
  margin-top: 0;
  color: #444444;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
}

.product__action {
  display: flex;
  justify-content: space-between;
  padding-top: 27px;
  border-top: 1px solid #ececec;

  @include min-width ($tablet-width) {
    margin-top: auto;
  }
}
