.product-promo {
  border: 1px solid #ececec;

  @include tr;

  &:hover,
  &:active {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }
}

.product-promo__form {
  @include min-width ($tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @include min-width ($desktop-width) {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.product-promo__wrapper {
  position: relative;
  overflow: hidden;

  @include min-width ($tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.product-promo__name {
  position: relative;
  padding-top: 21px;
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  &--icon {
    padding-left: 34px + 32px + 25px;

    @include min-width ($tablet-width) {
      padding-left: 106px;
    }

    @include min-width ($desktop-width) {
      padding-left: 78px;
      padding-right: 78px;
    }

    &::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      top: 50%;
      left: 40px;
      margin-right: 33px;
      width: 32px;
      height: 22px;
      background-image: url("../img/icon-video.svg");
      background-size: contain;
      background-repeat: no-repeat;

      @include min-width ($tablet-width) {
        width: 38px;
        height: 34px;
      }

      @include min-width ($desktop-width) {
        position: static;
        display: block;
        margin-bottom: 20px;
        margin-right: 0;
      }
    }
  }

  @include min-width ($tablet-width) {
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    padding-top: 40px;
    margin-bottom: 6px;
  }

  @include min-width ($desktop-width) {
    width: 35%;
  }
}

.product-promo__video {
  position: relative;

  @include min-width ($tablet-width) {
    order: -1;
    width: 100%;
    min-height: 455px;
  }

  @include min-width ($desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    height: 100%;
  }

  &:hover .product-promo__video-btn {
    transform: scale(1.2);
  }

  &:active .product-promo__video-btn {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.product-promo__video-btn {
  content: "";
  display: block;
  width: 101px;
  height: 77px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -55px;
  margin-top: -33px;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;

  @include tr;
}

.product-promo__main-pic {
  width: 100%;

  @include min-width ($desktop-width) {
    height: 100%;
  }
}

.product-promo__info {
  padding: 34px;
  padding-top: 25px;

  @include min-width ($tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 45px;
  }

  @include min-width ($desktop-width) {
    width: 35%;
    padding-left: 78px;
    padding-right: 58px;
    padding-top: 29px;
    padding-bottom: 30px;
  }
}

.product-promo__descr {
  margin: 0;
  margin-bottom: 25px;
  color: #444444;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;

  @include min-width ($tablet-width) {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 35px;
  }

  @include min-width ($desktop-width) {
    margin-bottom: 46px;
  }
}

.product-promo__btn {
  width: 100%;
}
