.products-grid {
  margin-bottom: 30px;

  @include min-width ($desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.products-grid__item {
  margin-bottom: 30px;

  @include min-width ($desktop-width) {
    max-width: 315px;
    width: 100%;
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }
}
