.recomended-product {
  margin-bottom: 36px;

  @include min-width ($tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 54px;
    margin-bottom: 0;
  }

  @include min-width ($desktop-width) {
    padding-bottom: 73px;
    padding-left: 175px;
    padding-top: 79px;
  }
}

.recomended-product__info-header {
  position: relative;
  width: 100%;
  padding-top: 28px;
  margin-bottom: 23px;

  @include min-width ($tablet-width) {
    padding-top: 43px;
    margin-bottom: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.recomended-product__body {
  width: 100%;
  position: relative;
}

.recomended-product__info {
  @include min-width ($tablet-width) {
    width: 50%;
    padding-right: 53px;
  }

  @include min-width ($desktop-width) {
    width: 39%;
  }
}

.recomended-product__features {
  margin-bottom: 30px;

  @include min-width ($tablet-width) {
    margin-bottom: 57px;
  }

  @include min-width ($desktop-width) {
    margin-bottom: 112px;
  }
}

.recomended-product__img {
  text-align: center;

  @include min-width ($tablet-width) {
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }

  @include min-width ($desktop-width) {
    top: -158px;
    width: 60%;
  }
}

.recomended-product__img-link {
  display: inline-block;
}

.recomended-product__name {
  margin-top: 0;
  margin-bottom: 6px;
  font-family: $default-font;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;

  @include min-width ($tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-left: -4px;
  }

  @include min-width ($desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.recomended-product__category {
  display: inline-block;
  font-family: $default-font;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  &--week {
    color: #63d1bb;
  }

  @include min-width ($tablet-width) {
    margin-bottom: 0;
    max-width: 75px;
    margin-right: 26px;
    line-height: 17px;
  }

  @include min-width ($desktop-width) {
    position: absolute;
    top: 50%;
    left: -130px;
    margin-top: 5px;
  }
}

.recomended-product__descr {
  margin-top: 0;
  margin-bottom: 15px;
  color: #444444;
  font-family: $default-font;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;

  @include min-width ($tablet-width) {
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 33px;
  }

  @include min-width ($desktop-width) {
    margin-bottom: 46px;
  }
}


.recomended-product__price {
  margin: 20px 0 25px;

  @include min-width ($tablet-width) {
    width: 43%;
    margin-bottom: 34px;
  }

  @include min-width ($desktop-width) {
    width: 33%;
  }
}

.recomended-product__btns {
  @include min-width ($desktop-width) {
    max-width: 33%;
  }
}

.recomended-product__btn-order {
  max-width: 260px;
  width: 100%;
  display: block;
  margin: auto;

  @include min-width ($tablet-width) {
    max-width: 292px;
    margin-left: 0;
  }

  @include min-width ($desktop-width) {
    margin-left: auto;
  }
}
