.review {
  padding-top: 26px;
  padding-bottom: 50px;

  @include min-width ($tablet-width) {
    background-image: url('../img/review@1x.jpg');
    background-repeat: no-repeat;
    background-position: left;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 72px;
  }

  @include min-width ($desktop-width) {
    background: none;
  }
}

.review__wrapper {
  position: relative;
  padding-top: 30px;
  padding-bottom: 45px;
  padding: 0 30px;

  @include min-width ($tablet-width) {
    @include container;

    padding-top: 77px;
    padding-bottom: 43px;
  }

  @include min-width ($desktop-width) {
    padding-left: 175px;
    background-image: url('../img/review@1x.jpg');
    background-repeat: no-repeat;
    background-position: left;
    padding-top: 80px;
    padding-bottom: 102px;
  }
}

.review__title {
  margin-bottom: 24px;

  @include min-width ($tablet-width) {
    margin-bottom: 49px;
  }
}

.review__list-wrapper {
  position: relative;
}

.review__list {
  @include listclr;
}

.review__descr {
  max-width: 773px;
  margin: 0;
  margin-bottom: 27px;
  color: #444444;
  font-family: $default-font;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  @include min-width ($tablet-width) {
    font-size: 17px;
    margin-bottom: 58px;
  }
}

.review__author {
  margin-bottom: 27px;

  @include min-width ($tablet-width) {
    margin-bottom: 0;
  }
}

.review__author-name {
  display: block;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 3px;

  @include min-width ($tablet-width) {
    font-size: 18px;
  }
}

.review__author-link {
  font-size: 17px;
  color: #444444;
  font-weight: 400;
  line-height: 30px;
}

.review__btns {
  position: relative;
  display: flex;
  margin-bottom: 38px;
  border: 1px solid #ececec;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    height: 100%;
    width: 1px;
    margin-left: -0.5px;
    background: #ececec;
  }

  @include min-width ($tablet-width) {
    &::before {
      display: none;
    }

    margin-bottom: 0;
    position: absolute;
    right: 18px;
    bottom: 3px;
    border: none;
  }
}

.review__btn {
  @include btnclr;
  cursor: pointer;
  width: 50%;
  min-width: 50px;
  height: 52px;
  background-repeat: no-repeat;
  background-size: 50px 26px;

  &--prev {
    background-image: url('../img/icon-left-arrow.svg');
    background-position: center;
  }
  &--next {
    background-image: url('../img/icon-right-arrow.svg');
    background-position: center;
  }

  @include min-width ($tablet-width){
    margin-right: 37px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.review__btn-send {
  width: 100%;

  @include min-width ($tablet-width) {
    position: absolute;
    top: 80px;
    right: 0;
    min-width: 175px;
    width: auto;
  }
}
