.review__wrapper {
  position: relative;
  padding-top: 30px;
  padding-bottom: 45px;

  @include min-width ($tablet-width) {
    padding-top: 85px;
  }
}

.review__title {
  margin-bottom: 38px;
}

.review__list-wrapper {
  position: relative;
}

.review__list {
  @include listclr;
}

.review__descr {
  margin: 0;
  margin-bottom: 40px;
  color: #444444;
  font-family: $default-font;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}

.review__author {
  margin-bottom: 36px;

  @include min-width ($tablet-width) {
    margin-bottom: 0;
  }
}

.review__author-name {
  display: block;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px;
}

.review__author-link {
  font-size: 17px;
  color: #444444;
  font-weight: 400;
  line-height: 30px;
}

.review__btns {
  margin-bottom: 38px;

  @include min-width ($tablet-width) {
    margin-bottom: 0;
    position: absolute;
    right: 0;
    bottom: 0;
  }

}

.review__btn-send {
  @include min-width ($tablet-width) {
    position: absolute;
    top: 80px;
    right: 0;
  }
}
