.search {
  position: relative;

  .search__icon {
    opacity: 0.2;
  }

  &:hover .search__label {
    color: rgba(0, 0, 0, 0.6);
  }

  &:hover .search__icon {
    fill: #63d1bb;
    opacity: 1;
  }

  &:active .search__icon {
    opacity: 0.3;
  }
}

.search__button {
  @include btnclr;
  position: absolute;
  top: 3px;
  left: -45px;
  z-index: 1;
  width: 18px;
  height: 18px;
  padding: 0;
  cursor: pointer;

  @include min-width ($tablet-width) {
    position: static;
  }
}

.search__input-wrap {
  position: relative;

  @include min-width ($tablet-width) {
    display: none;
  }
}


.search__input {
  padding: 0;
  border: 0;
  display: block;
  margin: auto;
  outline: none;

  &:focus + .search__label,
  &:valid + .search__label {
    display: none;
  }
}

.search__label {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: left;
}
