.social {
  color: #000000;
}

.social__list {
  @include listclr;
  text-align: center;
  font-size: 0;
}

.social__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;
  font-size: 0;

  &--inst {
    width: 22px;
    height: 21px;
    background: url("../img/icon-insta.svg");
  }

  &--fb {
    width: 15px;
    height: 29px;
    background: url("../img/icon-fb.svg");
  }

  &--tw {
    width: 24px;
    height: 20px;
    background: url("../img/icon-twitter.svg");
  }
}
