.user-nav {
  background: #ffffff;

  @include max-width ($mobile-width) {
    display: none;
    position: static;
    z-index: 10;
    width: 100%;
    margin-bottom: -22px;

    &--active {
      display: block;
    }
  }
}

.user-nav__list {
  @include listclr;
}

.user-nav__item {
  text-align: left;
  padding: 30px;
  padding-left: 76px;
  box-shadow: 0 1px 0 #ececec,
    inset 0 1px 0 #ececec;

  @include min-width ($tablet-width) {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    box-shadow: none;
  }
}

.user-nav__link {
  font-family: $default-font;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.user-nav__cart {
  display: inline-block;
  position: relative;
  padding-left: 0;
  margin-left: 0;
  font-family: $default-font;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;

  @include tr;

  &:hover {
    color: rgba(0, 0, 0, 0.6);

    .user-nav__cart-icon {
      fill: #63d1bb;
      opacity: 1;
    }
  }

  &:active {
    opacity: 0.3;
  }

  .user-nav__cart-icon {
    display: block;
    position: absolute;
    width: 21px;
    height: 18px;
    left: -46px;
    opacity: 0.2;
  }

  @include min-width ($tablet-width) {
    margin-left: 30px;
    padding-left: 50px;

    .user-nav__cart-icon {
      top: 3px;
      left: -2px;
    }

    .user-nav__cart {
      left: 0;
    }
  }
}

.user-nav__search {
  display: inline-block;

  @include min-width ($tablet-width) {
    padding: 32px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }
}
