.user-nav {
  background: #ffffff;

  @include max-width ($tablet-width) {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: calc(100% + 168px);

    &--active {
      display: block;
    }
  }
}
.user-nav__list {
  @include listclr;
}

.user-nav__item {
  padding: 30px;

  @include min-width ($tablet-width) {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
  }
}

.user-nav__link {
  font-family: $default-font;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.user-nav__cart {
  font-family: $default-font;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  @include tr;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include min-width ($desktop-width) {
    padding-left: 85px;
  }
}

.user-nav__search {
  padding: 33px;

  @include min-width ($tablet-width) {
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }
}
