@mixin tr($time: 0.3s) {
  transition: $time;
}

@mixin listclr {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin btnclr {
  background: none;
  border: none;
  font-size: 0;
}

@mixin container {
  min-width: 260px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 668px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

// Media
@mixin min-width($size) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin max-width($size) {
  @media (max-width: $size) {
    @content;
  }
}

@mixin min-res() {
  @media (min-resolution: $retina-dpi),  (min-resolution: $retina-dppx) {
    @content;
  }
}
